ul {
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}

li {
	display:inline;
}

/*links for navigation bar*/
a:link,a:visited {
	font-family:garamond;
	color:white;
	background-color:#a6a6a6;
	text-align:center;
	font-size:11px;
	letter-spacing:7px;
	text-decoration:none;
	padding:3px 12px 3px 18px;
	margin-top:20px;

}
a:hover,a:active {
	background-color:#d1d1d1;
	color:white;
}

/*modules*/
div.ex {
	width:785px;
	padding:35px;
	background-color:#dde3dc;
	font-size:11px;
	color:#5b5b5b;
	font-family:helvetica;
	letter-spacing:-.5px;
	text-align:justify;
	line-height:20px;
	margin:-1px 0px 0px 0px;
}

/*picture of me*/
img.me {
	margin-right:30px;
	margin-bottom:5px;
	border: 1px solid #CCCCCC; 
	width:200px;
	height:240px;
}

/*headers*/
p.header {
	font-family:garamond;
	font-size:35px;
	letter-spacing:9px;
	margin-bottom:-5px;
	margin-top:0px;
	position:relative;
}

/*portfolio page line height*/
div.lineheight {
	line-height:13px;
	text-align="center"
}

/*lower entire site*/
div.lower {
	margin-top:20px;
	border-top:40px;
}

/*bottom font*/
div.bottom {
	margin-top:2px;
	width:852px;
	background-color:transparent;
	font-size:9px;
	color:#5b5b5b;
	font-family:garamond;
	letter-spacing:4px;
	text-align:left;
}

/*garamond*/
@font-face
{
font-family: garamond;
src: url('garamond'),
}

/*other links*/
a.linkStyleName:link,a.linkStyleName:visited,a.linkStyleName:hover,a.linkStyleName:active {
	color:#5b5b5b;
	background-color:transparent;
	font-family:arial;
	letter-spacing:0px;
	padding:0px;
}

/*portfolio*/
img.portfolio {
	border:1px solid #d1d1d1;
	background-color:white;
	padding:5px;
	width:111px;
	height:74px;

/*italic text*/
i {
	font-family:times;
	font-size:12px;
	letter-spacing:0px;
}

/*captions*/
div.img
  {
  margin:2px;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid grey;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:200px;
  margin-top:-7px;
  margin-bottom:2px;
  }

  /*borders*/
 img.border {
 	border:1px solid grey;
 }
