<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
	</head>

	<body>

		<ul>
		      <li><a href="/index">home</a></li>
		      <li><a href="/me">me</a></li>
		      <li><a href="/portfolio">portfolio</a></li>
		      <li><a href="/policies">policies</a></li>
		      <li><a href="/signup">signup</a></li>
		      <li><a href="/photoshoot">the photoshoot</a></li>
		</ul>
		
		<div class="ex">
			<i>sessions</i>:<br/>
			• length: 1.5-2 hours<br/>
			• price: 145$<br/>
			*if length is exceeded, prices will change proportionally<br/><br/>

			<i>getting the photos</i>:<br/>
			Within 24 hours, the photos will be emailed to the address of your choice.<br/><br/>

			<i>extra services</i>:<br/>
			Retouching and color adjustment services are available for an extra charge.<br/><br/>

			<i>rescheduling</i>:<br/>
			Shoots may be rescheduled up to 48 hours in advance.<br/><br/>

			<i>refunds</i>:<br/>
			Shoots are non-refundable. 

		</div>

	</body>

</html>
