<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
	</head>

	<body>

		<ul>
		      <li><a href="/index">home</a></li>
		      <li><a href="/me">me</a></li>
		      <li><a href="/portfolio">portfolio</a></li>
		      <li><a href="/policies">policies</a></li>
		      <li><a href="/signup">signup</a></li>
		      <li><a href="/photoshoot">the photoshoot</a></li>
		</ul>
		
		<div class="ex">
			<a href="mailto:melissasamworth@verizon.net">
		</div>

	</body>

</html>