<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main.css"/>
	</head>

	<body>

		<ul>
		      <li><a href="/index">home</a></li>
		      <li><a href="/me">me</a></li>
		      <li><a href="/portfolio">portfolio</a></li>
		      <li><a href="/policies">policies</a></li>
		      <li><a href="/me">signup</a></li>
		      <li><a href="/photoshoot">the photoshoot</a></li>
		      <li><a href="/shop">shop</a></li>
		</ul>
		
		<div class="ex">
			policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! policies! 
		</div>

	</body>

</html>
